body {
    background-color: #1F1E2D;
}
.header{
    background-color: white;
    display: flex;
    
}
h1{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    float: left;
    text-shadow: -2px 4px 4px black;
}

.dropDown {
    color: #1F1E2D;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -2px 4px 4px black;
}

#topLogo {
    width: 100px;
    height: 75px;
}

