body {
    background-color: #1F1E2D;
    margin: 0px;
}

.header{
    background-color: white;
    display: flex;
    border-bottom: 2px solid black;  
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    float: left;
    text-shadow: -2px 4px 4px black;
}

.dropDown {
    color: #1F1E2D;
    font-family: 'Montserrat', sans-serif;
}   

#dropDown {
    color: #1F1E2D;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    cursor: pointer;
}

#topLogo {
    width: initial;
    height: 50px;
}

#topLogo :hover {
    box-shadow: -2px 3px 3px black;
}

#profile {
    color: #1F1E2D;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    margin-top: 15px;
    cursor: pointer;
}

#profile :hover{
    text-shadow: -2px 3px 3px black;
}

#welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.welcome {
    font-size: 40px;
}

.description {
    border: 2px solid black;
    padding: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    color: #1F1E2D;
    font-family: 'Montserrat', sans-serif;
    padding: 13px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline white;
    position: absolute;
    bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
}
