body {
    background-color: #1F1E2D;
}
.header{
    display: flex;
    
}
h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    float: left;
    text-shadow: -2px 4px 4px black;
}

.dropDown {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -2px 4px 4px black;
}